page-userInfo {

    .icontent {
        .ilist {
            
            .iheader {
            }

            .iitem {

                .inote {
                }

                .auth-color-green {
                    color: map-get($colors, secondary);
                }

                .auth-color-red {
                    color: map-get($colors, danger);
                }

                .config {
                    color: map-get($colors, light-green);
                }
            }
        }
    }
}
